@<SCOPE>:registry=https://lacunatech.jfrog.io/artifactory/api/npm/npm/
//lacunatech.jfrog.io/artifactory/api/npm/npm/:_password=<BASE64_PASSWORD>
//lacunatech.jfrog.io/artifactory/api/npm/npm/:username=<USERNAME>
//lacunatech.jfrog.io/artifactory/api/npm/npm/:email=youremail@email.com
//lacunatech.jfrog.io/artifactory/api/npm/npm/:always-auth=true